## Prisma Command Dev Only
DATABASE_URL=postgresql://rrs:pgpass@postgres.rrs.local:5432/rrs-local

## Database
DATABASE_HOST=postgres.rrs.local
DATABASE_PORT=5432
DATABASE_USER=rrs
DATABASE_PASSWORD=pgpass
DATABASE_NAME=rrs-local

## Server
PORT=3000
ENV=local
